@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

/* navbar{
  width: 100%;
  height: 70px;
  background-color: #131313;
}
.navbar .container{
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: #fff;
  cursor: pointer;
}
input{
  padding: 5px;
  font-size: 16px;
  border: none;
}
.globalButton{
  padding: 10px;
  width: 100px;
  font-size: 16px;
  color:#fff;
  cursor: pointer;
  background-color: #1A577C;
  border: none;
  border-radius: 3px;
}
.searchBox{
  background-color: #EEEEEE;
  padding: 10px;
}
.admin{
  width: 100%;
}
.admin .container{
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
} */
.home{
  font-size: 3em;
  margin-top: 20px;
}
.error{
  font-size: 2em;
  margin-top: 50px;
}